:root{
    --ancho:260px;
    --alto:300px;
}

.cuadrado{
    width: var(--ancho);
    height: var(--alto);
    background-color: tomato;
    box-shadow: 5px -5px 5px  inset,
    5px 5px 5px ;
}
.circulo{
    /*Le separamos del otro*/
    margin-top: 2em;
    /*para ponerlo en el centro*/
    margin-left: auto;
    margin-right: auto;
    width: calc(var(--ancho)/2);
    height: calc(var(--ancho)/2);
    background-color:hsl(10, 84%, 64%);
    border-radius: 50%;
    box-shadow: -5px -5px 10px 2px hsl(10, 84%, 20%) inset,
                5px 5px 10px 2px hsl(10, 84%, 74%) inset,
                2.5px 2.5px 15px 2px hsl(10, 84%, 100%); 
}
.marco{
    background-color: #2c3e50;
    padding: 2em;
}
.sol{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: hsl(58, 95%, 98%);
    box-shadow: 0.1px 0.1px 20px 2px hsl(58, 95%, 63%);

}
.mar
