*, ::after, *::before{
    /*Reseteo de formatos*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*---------------------*/
    /*Quitar Formato a un enlace*/
    text-decoration: none;
    color: #FFB400;
    list-style: none;
}
:root{
    --azul:#2d4059;
    --amarillo: #FFB400;
    --rojo:#EA5455;
}
p{
    color: black;
}
.menu{
    /*Aliniar al centro*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azul);
}
.submenu{
    /*queremos sacarlo del flujo*/
    position: absolute;
    /*Cambiamos orientacion*/
    flex-direction: column;
    /*Con el margin hago que desaparezca*/
    margin-top: -15rem;
    transition: margin-top .5s ease;
    /*display: none;*/
}
.menu>.menu-item:hover >.submenu{
    margin-top: 0;
    display: flex;
}
.menu a{
    /*A de ser padding para que todo el área sea cliqueable, con el margin eso no se puede hacer*/
    padding: .25rem 1rem;
    /*Al ser un elemento en linea hay y vamos a poner width a todo, hay que ponerle en inline-block*/
    display: inline-block;
    width: 100%;
}
.submenu > .menu-item{
    width: 100%;
    
}
.menu-item:hover >a{
    background-color: var(--amarillo);
    color: var(--azul);
}