td, th {
    border: 5px solid blue;
    padding: .5rem;
}
table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style: none;
    padding-left: 0;
}
.vertical{
    transform: rotate(-90deg);
    
}
th:first-child{
    background-color: tomato;
}