.cabecera_capturopedia{
    height: 5em;
    background-color: #1abc9c;
    position: fixed;
    width: 100%;
    box-sizing: 0 0 8px 0 rgb(0,0,0,.12);
    display: flex;
    align-items: center;
    padding-left: 2em;
    z-index: 4;
}


.content_capturopedia{
    padding: 14px;
    margin: 5em 0;
}

.criatura img{
    width: 35px;
}

.hemisferio svg{
    color:#FDEDA8;
    margin: 6px;
}

.cabecera_capturopedia select{
    border-radius: 4px;
    font-size: large;
    background-color: #1abc9c00;
    padding: 10px;
    border: 1px solid #000;
}

.cabecera_capturopedia div{
    margin-right: .5em;
}
#meses p{
    color: #FDEDA8;
    width: 4em;
    margin: 6px 0;
}