:root{
    --fondoColor: ;
    --fondoBlanco: ;
}
/* body{
    background-color: var(--fondoColor);
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* #fondoCard{
    background-color: var(--fondoBlanco);
    width: 96vw;
    height: 92vh;
    border-radius: 10px;
    
} */