/* E N C A B E Z A D O  */
body{
    margin: 2em;
    
}
.text-secondary{
    font-size: xx-large;
}
/*F O T O S*/
img{
    width: 35%;
    
}


/* cuerpo */
.cuerpo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
 
.pan { 
    grid-area: 1 / 1 / 2 / 2; }
.galleta {
grid-area: 1 / 2 / 2 / 3; }
.arroz { 
    grid-area: 1 / 3 / 2 / 4; }
.pollo { 
    grid-area: 2 / 1 / 3 / 2; }
.queso { 
    grid-area: 2 / 2 / 3 / 3; }
.pescado { 
    grid-area: 2 / 3 / 3 / 4; }

/* section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
} */

/* .textoJS{
    font-size: 1.5em;
} */