:root{
    --altofoto:80%;
    --arfoto:0,7772020725388601%;
    --negro:#12161F;
    --borde: 0.5em;
    /* dividir ancho / alto */
}
*{
    scroll-behavior: smooth;
}
.titulo{
    background-color: var(--negro);
}
.encabezado{
    color: aquamarine;
    font-size: 5em;
    text-align: center;
    margin-top: 0;
}
.foto{
    height: calc(var(--arfoto)*var(--altofoto));
    width: calc(var(--altofoto));
}
.imagen{
    float: left;
    width: 40%;
    margin-left: 10%;
}
h2{
    margin-top: 20%;
}
.subtitulo{
    margin-bottom: 3%;
}
a{
    border: 1px solid var(--negro);
    padding: 10px; 
    background-color: var(--negro); 
    color: #ffffff;
    border-radius: 50px;
}

.resena{
    margin-top: 20%;
    background-color: var(--negro);
    width: 100%;
    color: aliceblue;
    text-align: center;
    padding: 5em 0;
}