body{
    margin:0;
    background-color: rgba(14,24,128,1);
    background-image:
  url("https://i.postimg.cc/593ZywtH/Pngtree-beautiful-christmas-elements-with-christmas-3709016.png"),
  url("https://i.postimg.cc/VL88TYVw/kisspng-santa-claus-christmas-word-search-gift-santa-claus-christmas-5b3694828540e3-8606579815303036.png"),
  url("https://i.postimg.cc/d06wH2tL/grass.png"),
  url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fflyclipart.com%2Fbolas-navidad-png-navidad-png-79873&psig=AOvVaw0mJmADvrjURjT-1SiL-Ma1&ust=1641924579134000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLD95Ovjp_UCFQAAAAAdAAAAABAh"), 
  linear-gradient(to right, #e52d27, #b31217);
    background-repeat:no-repeat,no-repeat,repeat-x,no-repeat,no-repeat,no-repeat;
    background-position:bottom center,top 120% left 15%, bottom left, top 90% left 68%, top left,top center;
    background-size: 35%,30%,40%,30%,25%,100%;
    height:100vh;
  }