.caja{
    background-color: blueviolet;
    height: 20px;
    width: 50%;
    /*poner el % se adapta y usa la medida*/
    display:inline-block;
}
.otro{
    background-color: rgb(43, 226, 89);
    /*display:inline*/
    /*si pongo esto los div estan vacios ya que estan en linea*/
    display:inline-block;
    height: 20px;
    width: 50%;

}
/*Hay que tener en cuenta siempre los espacios, hasta lo que estan vacios*/