:root{
    --azul:#4CA2E9;
}
.container{
    border: 1px solid var(--azul);  
    border-radius: 0.25rem;
}
thead{
    margin: 0;
}
table{
    padding: 0;
}
td, th{
    text-align: center;
    padding: 5px;
}
.cuerpo{
    min-width: 100%;
}
.impar{
    background: #F1F1F1;
    min-width: 100%;
}
thead:first-child{
    background: var(--azul);
    color: white;
}
tbody>tr:hover{
    background-color: #ABD6F9;
}
tr{
    outline: var(--azul);
}