body, html{
    height: 100%;
    margin: 0px;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center
}
.panelEditor{
    width: 41vw;
    max-height: 80vh;
}