body{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/rene-bohmer-YeUVDKZWSZ4-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* background: linear-gradient(to bottom, #da4453, #89216b); */
    /* background: linear-gradient(to bottom, #ec008c, #fc6767); */
}
header{
    padding: 1em;
}
.der{
    float: right;
}
.inicio{
    margin-top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nivel{
    padding: 7px;
    margin-bottom: 13px;
}
.desaparecer {
    transition: 1s all ease-in;
    transform: scale(0);
  }
  .logo{
    height: 65vh;
    
                 
}