body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)), 
                url("../img/rene-bohmer-YeUVDKZWSZ4-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header{
    padding: 1em;
}

.der{
    float: right;
}

#menu{
    margin-top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nivel{
    padding: 7px;
    margin-bottom: 13px;
}
select{
    background-color: rgba(240, 255, 255, 0);
    color: aliceblue;
}
option{
    color: #000;
}
#juego{
    display: none;
}
