
.sidebarContainer{
    height: 100%;
    overflow: auto;
    /* left: -320px; */
    transition: all ease-in-out 300ms;
}
.sidebar{
    
    position: absolute;
    float: left;
    width: 20%;
    height: 100%;
    background-color: black;
}
.side-bar{
    float: right;
    margin: 12px;
    color: white;
}
