body{
    margin: 0;
    background-color: #131366;
    color: #0E196E;
}
.hero{
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "graf"
        "web"
        "seo"
        "mark"
        "clientes"
        "job";
    gap: 2px;
}
.card{
    padding: 0 2em;
    
    background-size: cover;
    background-position: center center;
    color: hsl(240deg 76% 22%);
    text-shadow: 0 0 5px white;
    display: flex;
    flex-flow: column wrap;
}
p{
    font-family: 'Architects Daughter', cursive;
    margin: 0;
    font-weight: bold;
}
h2{
    margin-bottom: 0;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.graf{
    grid-area: graf;
    background-image:
        url("https://i.postimg.cc/wvsb8fN3/funciones-31-1616497780.webp");
}
.web{
    justify-content: flex-end;
    grid-area: web;
    background-image:
    url("https://i.postimg.cc/KYq9CXsn/Getty-Images-1255905201-copy.jpg");
}
.seo{
    grid-area: seo;
    background-image:
    url("https://i.postimg.cc/xTXtNF8C/seo-begriffe-t.jpg");
}
.mark{
    grid-area: mark;
    background-image:
    url("https://i.postimg.cc/y8pKyNzK/2-20.jpg");
}
.clientes{
    justify-content: flex-end;
    grid-area: clientes;
    background-image:
    url(" https://i.postimg.cc/1RFpxgWW/portfolios.jpg");
}
.job{
    text-decoration: none;
    color: aliceblue;
    grid-area: job;
    justify-content: space-around;
    text-align: center;
    background-image: linear-gradient(to top, #CA5233, #24074D);
}
.job a {
    
    text-decoration: none;
    display: block;
    padding: 1vw;
    background-color: #F5F5F5;
    text-align: center;
    color: black;
    font-weight: bolder;

}

@media all and (min-width: 500px) {
    .hero {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "graf graf"
            "graf graf"
            "web seo"
            "web mark"
            "web job"
            "clientes job";
    }
}
@media all and (min-width: 800px) {
    .hero {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr 0.5fr 0.5fr 1fr;
        grid-template-areas:
            "graf web seo"
            "graf web mark"
            "graf web job"
            "graf clientes job"
            "graf clientes job";
    }
}