.cuerpo {
    width: 100%; /*2022 78%*/
    display: grid;
    margin: 5.4em 0 0 0;
    justify-items: center;
   
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
        "pan"
        "galleta"
        "arroz"
        "pollo"
        "queso"
        "pescado"
        "cesta";
}
 
.pan { grid-area: pan; }
.galleta { grid-area: galleta; }
.arroz {grid-area: arroz; }
.pollo { grid-area: pollo; }
.queso { grid-area: queso; }
.pescado { grid-area: pescado; }
.cesta{
    grid-area: cesta;
    width: 80%;
    background-color: #6c757d82;
    color: aliceblue;
}
.card{
    padding: 1em 1em;   
    min-width: 60%;
    border-radius: 10px;
    margin: .5em;
    border: 1px solid rgba(0,0,0,0);
    box-shadow: 0px 4px 56px 7px rgba(0,0,0,0.1);
}
.ing-content{
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top: 12px;
   
}
.ing-content img{
    width: 150px;
}

.ing-content #precio,
.ing-content .btn{
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 500;
}
#precio,.btn{

    padding: 5px 20px 5px 20px;
    border: 1px solid #6c757d;
    border-radius: 20px;
    cursor: pointer;
    vertical-align: text-top;
}

.btn{
    color: #fff;
    background-color: #6c757d;
}
.ing-content .btn:hover{
    border: 1px solid rgb(20, 72, 30);
    background-color: rgb(20, 72, 30);
    color: #fff;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
   -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { 
    -moz-appearance:textfield; 
    width: 60%;
}

input[type=button] {
    margin: 0;
}
input.placeholder {
    text-align: center;
}
h4{
    margin-top: 7px;
    font-weight: 400;
}

img{
    width: auto;  
}