*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* fuente exportada */
    font-family: 'Roboto', sans-serif;
}

section{
    height: 650px;
    /*se ponen en el mismo eje*/
    display: flex;
    /*se distribuye*/
    justify-content: space-evenly;
    padding: 0 40px;
    /*Se centren*/
    align-items: center;
}

section h2{
    /*Se despegan de los parrafos*/
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
}

section p{
    /*Se separen del enlace*/
    font-weight: 500;
    margin-bottom: 15px;
}

section img{
    /*hacemos la imagen mas pequeña*/
    height: 60%;
}

/* el :nth-child() nos permite indicar el elemento */
/*Fuente --> https://webgradients.com/ */
/*Para copiar click en CopyCSS*/
section:nth-child(2){
    /*Pegar aqui*/
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);}
section:nth-child(3){
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}
section:nth-child(1){
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

/* editamos los bottones de navegacion */
section a{
    /*para darles las propiedades de blocke*/
    display: inline-block;
    padding: 7px 0;
    color: #009efd;
    /*Quitarle el subrayado de url*/
    text-decoration: none;
    width: 100px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
}

 /*Con esta etiqueta hacemos que el cambio no sea tan brusco al pinchar en los botones de secciones*/
html{
    scroll-behavior: smooth;
}

 /*Hacerlo responsive*/
@media screen and(max-width:1000px){
     /*Una vez que llega a los 1000px se rompe*/
    section{
         /*con el column -->un elemento arriba del otro*/
         /*con column-reverse --> lo que se pone primero es la imagen*/
        flex-direction: column-reverse;
    }
    section > img{
        height: 40%;
    }
    .contenedor-texto{
        text-align: center;
    }
}

@media screen and (max-width:600px){
    section > img{
        width: 30%;
    }
}